body {
  background-color: #999999;
}

#wrapper {
  margin: 24px auto;
  width: 1200px;
  border: 1px solid black;
  padding: 24px;
  background-color: black;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
   /* This is for the dummy columns, replace or delete */
}

header {
    grid-column: span 12;
}

header>h1{
    text-align: center;
    font-family: 'Lato',helvetica;
    color: #0349fc;
    text-transform: uppercase;
    margin-bottom: 24px;
    font-size: 72px;
}

aside {
    grid-column: span 12;
    color: white;
    text-align: justify;
}

aside h2 {
    font-family: helvetica;
text-transform: uppercase;
border-bottom: 5px solid #0349fc ;
}

#featureimg {
    
    width: 100%;
    border-radius: 10px;
}

#featurevid {
    border-radius: 10px;
    width: 100%;
}

nav {
    grid-column: span 4;
    border: 0px solid red;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;

}

nav li a {
    display: block;
    background-color: #0349fc;
    color: white;
    font-family: helvetica;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 32px;
    padding: 24px;
    margin-bottom: 36px;
    text-shadow: 2px 2px 2px #000;
    transition: background-color 1.0s, width 2.0s, color 2.0s;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;

}

nav li a:hover {
    background-color: darkblue;
}

main {
    grid-column: span 12;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 24px;
    
}

section h2 {
color: #0349fc;
font-family: helvetica;
text-transform: uppercase;
border-bottom: 5px solid #0349fc ;
}

section {
    color: white;
}
section img {
    width: 100%;
    border-radius: 10px;
    
}

footer {
    grid-column: span 12;
    grid-column: span 12;
    background-color: #0349fc;
    font-family: helvetica;
    color: white;
    padding-left: 24px;
    font-size: 32px;
    font-weight: bold;
    text-shadow: 2px 2px 2px #000;
}

footer img {
    float: left;
    margin-top: 25px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px #666;
    margin-right: 5px;
}

#myCarousel {
    grid-column: span 8;
    width: 800px;
}

#myCarousel img {
    width: 100%;
  }





