body{
    background-color: grey;
   }
   
   
   #wrapper {
     width: 700px;
     border: 5px solid darkblue;
     margin: 1em auto;
     display: grid;
     grid-template-columns: repeat(6,1fr);
     background-color: white;
   }
   
   header {
     grid-column: span 6;
     padding-left: 24px;
     background: hsla(217, 100%, 50%, 1);
   
   background: linear-gradient(90deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
   
   background: -moz-linear-gradient(90deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
   
   background: -webkit-linear-gradient(90deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
   
   filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#0061FF", endColorstr="#60EFFF", GradientType=1 );
     font-family: Helvetica, sans-serif;
     font-weight: normal;
   }
   
   header  h1 a{
     text-decoration: none;
     list-style-type: none;
     color: blue;
      ;
     display: block;
   }
   
   header a:visited {
   text-decoration: none;
   }
   header a:hover {
     color: white;
   }
   
   
   nav {
     grid-column: span 6;
     text-align: center;
     background: hsla(217, 100%, 50%, 1);
   
   background: linear-gradient(90deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
   
   background: -moz-linear-gradient(90deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
   
   background: -webkit-linear-gradient(90deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
   
   filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#0061FF", endColorstr="#60EFFF", GradientType=1 );
     border-bottom: 2px solid blue;
   }
   
   nav ul {
     list-style-type: none;
     margin: 5px;
     padding: 0;
   }
   
   nav li {
     display: inline-block;
   }
   
   nav li a {
     background: hsla(217, 100%, 50%, 1);
   
     background: linear-gradient(90deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
     
     background: -moz-linear-gradient(90deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
     
     background: -webkit-linear-gradient(90deg, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
     
     filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#0061FF", endColorstr="#60EFFF", GradientType=1 );
     color: white;
     text-decoration: none;
     display: block;
     font-family: Helvetica, sans-serif;
     font-weight: bold;
     padding: 10px;
     width: 140px;
   }
   nav li a:hover {
     background-color: darkblue;
     color: darkblue;
   }
   
   .nolink {
     color: transparent;
   
     
   }
   
   aside {
     grid-column: span 2;
     border: 3px 3px 3px 0px solid rgb(67, 98, 198);
     padding: 10px;
     background-color: lightblue;
     color: black;
     text-align: justify;
   }
   
   main {
     grid-column: span 2;
     margin-left: 12px;
     padding: 5px;
   }
   
   main img {
     width: 200px;
     float: bottom;
     margin-bottom: 1em;
   }
   
   .header2{
     border-bottom: 3px solid white;
   
   }
   
   
   footer {
     grid-column: span 6;
     background-color: red;
     padding-left: 24px;
     border-top: 5px solid darkblue;
     font-family: Helvetica, sans-serif;
     font-weight: bold;
   }
   
   nav ul {
     text-decoration: none;
     list-style-type: none;
   }
   
   h2{
     border-bottom: 3px solid blue;
     padding-bottom: 3px;
     color: blue;
   }
   
   .italics{
     font-style: italic;
   }
   
   a{
     text-decoration: none;
     font-weight: bold;
     color: red;
   }
   
   a:hover {
     color: blue;
   }
   
   p{
     font-family: Georgia, serif;
   }
   
   